body{
  background-color: royalblue;
}
.color {
  border: solid black 1px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
}

#pixel-board{
  display: table;
}

#color-palette {
  
  width: 223.4px;
}

.pixel {
  border: solid black 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  color: white;
  margin: 3px 3px 3px 3px;
 
}

#color-palette {
  background-color: solid white;
}

